:root {
  --red: #ab4228;
  --green: #50a775;
}

body {
  background: #f9fbfc;
  margin: 20px;
  min-height: 100vh;
  padding: 0;
}

.title {
  margin: 0;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.service {
  background: #ffffff;
  border: 2px solid #eaecee;
  border-radius: 5px;
  padding: 30px;
  padding-top: 20px;
}

.service__name {
  font-size: 1.2rem;
  margin: 0;
}

.service__operational {
  margin-bottom: 20px;
  margin-top: 20px;
}

.pill {
  align-items: center;
  background: #ffffff;
  border: 2px solid #eaecee;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 10px;
  height: 30px;
}

.pill > * {
  flex-grow: 0;
}

.pill__status {
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

.pill__status--ok {
  background: #50a775;
}

.pill__status--error {
  background: #ab4228;
}
