# Ensures reproducible builds
frozen-lockfile=true

# May be needed if peer dependency issues arise
strict-peer-dependencies=false

# Use same registry as npm (default)
registry=https://registry.npmjs.org/
